<form id="filter">

    <h6 class=" text-center">
        Five
    </h6>

    {% include 'homepage/filters/five.html.twig' %}

    <h6 class=" pt-4 text-center">Niveau de jeu</h6>

    {% include 'homepage/filters/level.html.twig' %}

</form>