{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{# variables personnalisées #}
{% set queryParams = app.request.query.all %}

{% block head %}

    <link rel="stylesheet" href="{{ asset('public/css/style.js') }}">

{% endblock %}

{% block body %}

<div class="container " style="margin:0; padding:0">
    <div class="row">

        <div class="col-4">

            <div class="card position-fixed" style="top:15%; margin-left: 5%">

                <div class="card-header h5">
                    <i class="bi bi-funnel-fill"></i>Filtrage
                </div>

                <div class="card-body">
                    {% include 'homepage/filter.html.twig' %}
                </div>

            </div>

        </div>

        <div class="col-6" id="content">
            {% include asset('homepage/main_content.html.twig') %}
        </div>

        <div class="col-4">


        </div>

    </div>

</div>

    {% block javascripts %}
        <script src="{{ asset('js/filters.js') }}"></script>
    {% endblock %}


    {% endblock %}

