{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% for match in matches %}
    <div>
        {{ match.id }}
        {{ match.organizer.pseudo }}
        {{ match.five.name }}
        {{ match.description }}
    </div>
    {% endfor %}

{% endblock %}
